.transactionList {
    padding: 0;
    margin: 0;
}

.transactionList li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.minusTransaction {
    border-right: 4px solid darkred;
}

.plusTransaction {
    border-right: 4px solid darkgreen;
}

.deleteItemButton {
    position: absolute;
    left:0;
    top:15%;
    transform: translate(-100%);
    background-color: indianred;
    border: none;
    color:#fff;
    height: 70%;
    width:auto;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.transactionList li:hover .deleteItemButton {
    opacity: 1;
}

.deleteItemButton:focus{
    outline: 0;
}
